body {
  background-color: #eef5f9;
  font-family: 'Segoe UI', sans-serif;
}

.card-title {
  color: #007bff;
}

.card {
  border: none;
  border-radius: 15px;
}

.carousel-inner img {
  height: 250px;
  object-fit: cover;
}
